[user]
	name = tatarhy
	email = tat.j.kikyo@gmail.com
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	st = status
[core]
	excludesfile = /home/tat/.gitignore_global
[push]
	default = simple
[init]
	defaultBranch = main
